Repository Armor-test/inventory-cache-263, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-research, @Armor-test/squad-database, @Armor-test/team-notifications, @Armor-test/squad-payments, @Armor-test/unit-devops, @Armor-test/squad-tooling, @Armor-test/dept-api, @Armor-test/team-frontend, @Armor-test/grp-integration, @Armor-test/dept-reporting, @Armor-test/dept-identity, @Armor-test/dept-logging, @Armor-test/grp-api, @Armor-test/grp-ui, @Armor-test/dept-ui, @Armor-test/squad-api, @Armor-test/team-logging, @Armor-test/grp-storage, @Armor-test/squad-frontend, @Armor-test/team-governance, @Armor-test/team-security, @Armor-test/dept-test, @Armor-test/dept-reliability, @Armor-test/unit-test, @Armor-test/dept-release, @Armor-test/dept-billing, @Armor-test/squad-product, @Armor-test/dept-notifications, @Armor-test/unit-governance, @Armor-test/squad-apps, @Armor-test/squad-search, @Armor-test/squad-mobile, @Armor-test/unit-cloud, @Armor-test/squad-qa, @Armor-test/unit-design, @Armor-test/squad-research, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for inventory-cache-263
# Global owners - will be requested for all PRs
* @Armor-test/team-research @Armor-test/squad-database @Armor-test/team-notifications

# Directory ownership
/security/ @Armor-test/squad-payments @Armor-test/unit-devops @Armor-test/squad-tooling
/auth/ @Armor-test/dept-api @Armor-test/team-frontend
/assets/ @Armor-test/grp-integration @Armor-test/dept-reporting
/modules/ @Armor-test/dept-identity @Armor-test/dept-logging
/examples/ @Armor-test/dept-api @Armor-test/grp-api
/app/ @Armor-test/grp-ui @Armor-test/grp-integration
/helpers/ @Armor-test/dept-ui @Armor-test/squad-api
/migrations/ @Armor-test/team-logging @Armor-test/grp-storage @Armor-test/squad-frontend
/views/ @Armor-test/team-governance @Armor-test/team-security
/test/ @Armor-test/dept-test @Armor-test/dept-reliability
/controllers/ @Armor-test/unit-devops @Armor-test/unit-test @Armor-test/squad-database
/dist/ @Armor-test/squad-frontend @Armor-test/team-notifications @Armor-test/dept-test
/core/ @Armor-test/dept-release @Armor-test/dept-reliability

# File type ownership
*.gradle @Armor-test/dept-billing @Armor-test/dept-release
*.graphql @Armor-test/grp-ui @Armor-test/squad-product
*.cpp @Armor-test/team-logging @Armor-test/dept-notifications @Armor-test/unit-governance
*.xml @Armor-test/dept-test @Armor-test/squad-apps @Armor-test/dept-release
*.js @Armor-test/squad-search @Armor-test/grp-api
*.tf @Armor-test/dept-api @Armor-test/dept-release @Armor-test/squad-search
*.tsx @Armor-test/unit-devops @Armor-test/squad-database
*.md @Armor-test/dept-billing @Armor-test/squad-mobile @Armor-test/dept-identity
*.properties @Armor-test/unit-cloud @Armor-test/squad-tooling
*.lock @Armor-test/team-governance @Armor-test/squad-qa
*.c @Armor-test/unit-test @Armor-test/unit-design @Armor-test/squad-research

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
Dockerfile @Armor-test/devops @Armor-test/infra
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
.github/workflows/ @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/team-research, @Armor-test/squad-database, @Armor-test/team-notifications

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-research, @Armor-test/squad-database, @Armor-test/team-notifications

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-test, @Armor-test/dept-reliability

Add src/main.py
  src/main.py
Owners: @Armor-test/team-research, @Armor-test/squad-database, @Armor-test/team-notifications

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-search, @Armor-test/grp-api
